.blogTitle {
	background-color: #075CA7;
	color: #CBD2DC;

}

article {
	background-color: #8D99A9;
	content: 85%;
}

article.hidden p {
  opacity: 0;
}

article p {
  opacity: 1;
}

.fancy {
	color : red;
}
